{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "import"
  ],
  "ignorePatterns": ["dist", "node_modules"],
  "rules": {
  }
}
